:root {
  --themeColor: #00001a;
  --white: #fff;
  --secondaryColor: #4169e1;
}
* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ysabeau Infant', sans-serif;
  list-style: none;
}
*::before,
*::after {
  box-sizing: inherit;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--themeColor);
}
*::-webkit-scrollbar-track {
  background-color: #00001a2c;
}
*,
html,
body {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
a {
  color: #333;
  padding: 16px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#wrapper,
#root {
  position: relative;
  background-color: var(--white);
  height: 100%;
  width: 100%;
}
.header {
  height: 250px;
  background-color: #00001a;
}
.wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
header nav {
  display: flex;
  align-items: center;

}
.user .img {
  overflow: hidden;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

header nav a {
  position: relative;
  color: var(--white);
  transition: all .3s ease-in-out;
}
header nav a::after {
  transform: scale(2.5);
  transition: transform .3s ease-in-out;
}
header nav a:hover::after {
  content: '';
  position: absolute;
  bottom: 0px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  left: calc(50% - 6px);
  background-color: var(--white);
  transform: scale(1.3);
}

.logo h1 {
  font-size: 50px;
  font-weight: 900;
  font-style: italic;
  color: var(--secondaryColor);
}
.logo h1 span {
  color: #fff;
}

/* main area */
main {
  background-color: #ffffff;
  backdrop-filter: blur(7px);
  margin: auto;
  width: 90%;
  height: calc(89% - 2rem);
  margin-top: 1.5rem;
  box-shadow: 0 0 2px #ffffff1f,
              0 0 12px #8d8d8d13,
              0 0 21px #00000015;
  border-radius: 1rem;
  overflow: hidden;
}
menu {
  width: 5%;
  height: calc(89% - 2rem);
  position: absolute;
  top: 13%;
  z-index: 10;
  left: 2rem;
  display: flex;
  align-items: center;
}
menu nav {
  position: relative;
  width: 100%;
  height: 80%;
  padding: 20px 0;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 2px #ffffff1f,
              0 0 12px #8d8d8d13,
              0 0 21px #00000015;
}
menu nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: unset;
  width: 40px;
  height: 40px;
  margin: 10px auto;
}
menu nav a span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 9px;
}
menu nav a:hover,
menu nav a.active {
  background-color: #4169e13b;
}
.add {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #4169e13b;
  left: 4px;
}
.add span {
  display: unset;
  margin: 30px;
}
.add:hover {
  color: var(--white);
  background-color: var(--secondaryColor);
}
menu a .details {
  display: none;
}
.page {
  height: 100%;
  width: 100%;
}
.home {
  display: flex;
}
.map-box {
  width: 70%;
  height: 100%;
  padding: 16px;
  background-color: var(--white);
}
#map {
  border-radius: .5rem;
  height: 100%;
  border: none;
}
.content-box {
  width: 30%;
  height: 100%;
  background-color: #f5f5f569;
  padding: 19px;
  overflow: hidden;
  overflow-y: auto;
}
.card {
  max-width: 100%;
  min-width: 24.5%;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 0 0 2px #ffffff1f,
              0 0 12px #8d8d8d13,
              0 0 21px #00000015;
  transition: all .3s ease-in-out;
}
.content-box .card {
  position: relative;
  height: 200px;
  background-color: var(--white);
  border-radius: .5rem;
  overflow: hidden;
}

.content-box .card:hover {
  transform: scale(1.05);

}
.card .card-head {
  overflow: hidden;
  height: 40px;
  display: flex;
  align-items: center;
}
.card .card-head .img {
  width: 40px;
  height: 100%;
}
.zoom-img {
  width: 97%;
  height: 70%;
  position: absolute;
  top: 27%;
  left: 1.5%;
  border-radius: 5px;
  overflow: hidden;
  transform: scale(0);
  transition: all .3s ease-in-out;
  z-index: 10;
}
.card .card-head .img:hover ~ .zoom-img,
.card .card-head h3:hover ~ .zoom-img,
.zoom-img:hover {
  transform: scale(1);
}
.content-box .card-head h3 {
  color: var(--secondaryColor);
  margin-left: 10px;
  cursor: pointer;
}
.main-info-card {
  padding: 15px 0;
}
.card-body {
  cursor: pointer;
}
.main-info-card .list-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.main-info-card .list-item > span {
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 50%;  
  background-color: var(--secondaryColor);
}
.main-info-card .list-item > h6 {
  margin-left: 5px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-info-card .list-item > h6 span b {
  color: var(--themeColor);
}
h6 span.stats {
  color: var(--secondaryColor);
}
.content-box .card .card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  overflow: hidden;
  padding-right: 16px;
  /* background-color: var(--themeColor); */
}
.card-footer a {
  display: block;
  width: 30px;
  padding: 0 !important;
}
.card-footer a span {
  font-size: 16px;
  /* color: var(--white); */
}
.card-footer a img {
  object-fit: contain;
}